<div class="row">
  <div class="col-md-12">

    <h2> 订单明细 (<%= render_order_paid_state(@order) %>) </h2>
    <%= render "admin/orders/state_option", order: @order %>

    <div class="row">
      <div class="col-md-12 col-centered">
        <div class="panel">
          <div class="panel-heading">
            <h1 class="panel-title text-center">
              寄送信息
            </h1>
          </div>
          <div class="panel-body">
            <table class="table table-bordered table-hover">
              <tbody>
                <tr>
                  <td class="order-table-title">
                    收货人
                  </td>
                  <td>
                    <%= @order.shipping_name %>
                  </td>
                </tr>
                <tr>
                  <td class="order-table-title">
                    收货地址
                  </td>
                  <td>
                    <%= @order.shipping_address %>
                  </td>
                </tr>
              </tbody>
            </table>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-centered">
      <div class="panel">
        <div class="panel-heading">
          <h1 class="panel-title text-center">
            送货清单
          </h1>
        </div>
        <div class="panel-body">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th colspan="2" class="col-md-4">商品名</th>
                <th class="col-md-2">价格</th>
                <th class="col-md-2">数量</th>
              </tr>
            </thead>
            <tbody>
              <% current_cart.cart_items.each do |cart_item| %>
                <tr>
                  <td>
                    <%= link_to product_path(cart_item.product) do %>
                      <% if cart_item.product.image.present? %>
                        <%= image_tag(cart_item.product.image.thumb.url, class: "mini") %>
                      <% else %>
                        <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "mini") %>
                      <% end %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to(cart_item.product.title, product_path(cart_item.product)) %>
                  </td>
                  <td>
                    <span class="productList-item-price"><%= cart_item.product.price *  cart_item.quantity %></span>
                  </td>
                  <td>
                    <%= cart_item.quantity %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <br>
        </div>
        <div class="total clearfix">
          <span class="pull-right" id="admin-order-total">
            订单总额:  <span class="productList-item-price"><%= @order.total %> CNY</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
