<div class="row" style="margin-top: 100px">
  <div class="col-md-10 col-centered col-md-offset-1">
    <div class="panel">
      <div class="panel-heading">
        <h1 class="panel-title text-center">
          订单信息
        </h1>
      </div>
      <div class="panel-body">
        <div class="order-form">
          <%= simple_form_for @order do |f| %>
            <div class="row">
              <div class="form-group col-lg-5 col-lg-offset-1">
                <%= f.input :shipping_name, label: '收货人'  %>
              </div>
              <div class="form-group col-lg-5">
                <%= f.input :shipping_address, label: '收货地址'  %>
              </div>
            </div>

            <div class="checkout">
              <%= f.submit "提交订单", class: "btn btn-md btn-danger pull-right",
                           data: { disable_with: "Submitting..." } %>
              <span class="pull-right"><small>应付金额: </small><span class="productList-item-price">￥ <%= render_cart_total_price(current_cart) %></span></span>
            </div>
          <% end %>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 100px">
  <div class="col-md-10 col-centered col-md-offset-1">
    <div class="panel">
      <div class="panel-heading">
        <h1 class="panel-title text-center">
          送货清单
        </h1>
      </div>
      <div class="panel-body">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th colspan="2" class="col-md-4">商品名</th>
              <th class="col-md-2">价格</th>
              <th class="col-md-2">数量</th>
            </tr>
          </thead>
          <tbody>
          <% current_cart.cart_items.each do |cart_item| %>
            <tr>
              <td>
                <%= link_to product_path(cart_item.product) do %>
                  <% if cart_item.product.image.present? %>
                    <%= image_tag(cart_item.product.image.thumb.url, class: "thumbnail", style: "width: 50px;") %>
                  <% else %>
                    <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail", style: "width: 50px;") %>
                  <% end %>
                <% end %>
              </td>
              <td style="text-align: left;">
                <%= link_to(cart_item.product.title, product_path(cart_item.product)) %>
              </td>
              <td>
                <span class="productList-item-price"><%= cart_item.product.price *  cart_item.quantity %></span>
              </td>
              <td>
                <%= cart_item.quantity %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <br>
      </div>
    </div>
  </div>
</div>
