<%= simple_form_for [:admin, product] do |f| %>

  <div class="group">
    <%= f.input :title %>
  </div>

  <div class="group">
    <%= f.input :description %>
  </div>

  <div class="group">
    <%= f.input :quantity %>
  </div>

  <div class="group">
    <%= f.input :price %>
  </div>

  <% if product.image.present? %>
    <span>目前商品图</span> <br>
    <%= image_tag(product.image.thumb.url) %>
  <% end %>

  <div class="group">
    <%= f.input :image, as: :file %>
  </div>

  <!-- 当前的商品详情区域所有图片显示 -->
  <% if product.pictures.present? %>
    <span>目前商品详情图片</span> <br>
    <% product.pictures.each do |p| %>
      <%= image_tag p.avatar.thumb.url %><br>
    <% end %>
  <% end %>
  <!-- 当前的商品详情区域所有图片显示结束 -->
  <!-- 为商品详情区域添加新的图片 -->
  <div class="group">
    <%= f.label :商品详情区域图片 %><br>
    <%= f.file_field :avatar, multiple: true, name: "pictures[avatar][]" %>
  </div>
  <!-- 为商品详情区域添加新的图片结束 -->

  <%= f.input :is_hidden, :label => "上线", as: :radio_buttons, collection: [['上线', false], ['隐藏', true]], required: true %>

  <%= f.submit "提交", data: { disable_with: "Submitting..." }, class: "btn btn-primary pull-right" %>

<% end %>