<!DOCTYPE html>
<html>
  <head>
    <title>家居商城后台</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body id="admin-body">
    <div class="container">
      <%= render "common/navbar" %>
      <div class="row" id="admin-page">
        <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked admin-nav">
            <li role="presentation"> <%= link_to("商品管理", admin_products_path) %> </li>
            <li role="presentation"> <%= link_to("订单管理", admin_orders_path) %> </li>
            <li role="presentation"> <%= link_to("评论管理", admin_comments_path) %> </li>
          </ul>
        </div>
        <div class="col-md-10" id="admin-show-page">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>