<!DOCTYPE html>
<html>
  <head>
    <title>家居选</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background: #c6af92;">

  <div class="container-fluid">
    <%= render "common/navbar" %>
    <%= render "common/flashes" %>
    <%= yield %>
  </div>

  <%= render "common/footer" %>

  </body>
</html>
